* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body{
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
  align-items: center;
}

#container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: auto;
}

.movie-wrapper {
  /* border: 1px solid blue; */
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  box-shadow: 0 3px 3px 3px rgba(12, 12, 12, 0.2) ;
  width: 45rem;
  height: auto;
  padding: 30px 20px;
  display: flex;
  border-radius: 3px;
}


.movie-container {
  /* border: 1px solid red; */
  margin-left: 50px;
  text-align: center;
  max-width: 30em;
  height: auto;
}


.movie-img {
  /* border: 1px solid greenyellow; */
  max-width: 15em;
  object-fit: cover;
  height: auto;
}

.text-align{
  text-align: left;
};

.btn-wrapper{
  border: 1px solid red;
};

.btn{
  color: blue;
};


